* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    background-color: unset;
    border:unset;
    outline:none;
    direction: ltr;
}
.container {
    box-shadow: 0px 0px 14px 2px #005aea25;
    width: 95%;
    height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .intro {
    background-color: darkorange;
    opacity: 0;
  }
  .container div{
    width:100%;
    height: 100%;
    display: flex;
    position: relative;
  }
  .container div > div{
    width:100%;
  }
  .container .form{
    background-color: #1a6df1f1;
    width: 85%;
    height: 85%;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    padding:0 20px;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  .form h1 {
    color: white;
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 30px;
  }
  .input {
    width: 100%;
    height: 35px;
    margin-top: 10px;
    border-radius: 20px;
    padding: 0 0 0 40px;
    font-weight: bold;
    font-size: 13px;
    color: #1a6df1f1;
  }
  .password-strength{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
  }